<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="bootstrap/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true"
         syntaxCheck="false">
    <testsuites>
        <testsuite name="MainTestSuite">
            <file>./tests/AdminTest.php</file>
            <file>./tests/AuthorizationMiddlewareTest.php</file>
            <file>./tests/CommandsTest.php</file>
            <file>./tests/CustomExceptionsTest.php</file>
            <file>./tests/HelpActionsTest.php</file>
            <file>./tests/LocalAuthenticatorTest.php</file>            
            <file>./tests/OtherTest.php</file>
            <file>./tests/ParallelJobSubmissionTest.php</file>
            <file>./tests/RecentJobsTest.php</file>
            <file>./tests/RegistrationTest.php</file>
            <file>./tests/ResultsPageTest.php</file>
            <file>./tests/SerialJobSubmissionTest.php</file>
            <file>./tests/VisualJobSubmissionTest.php</file>   
            <file>./tests/WorkspaceManagementTest.php</file>  
            <file>./tests/MobileCustomExceptionsTest.php</file>       
        </testsuite> 
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
            <exclude> 
                <directory suffix=".php">./app/Providers</directory>
                <directory suffix=".php">./app/Http/Controllers/Auth</directory>   
                <file>./app/Authenticators/PortalAuthenticator.php</file>            
            </exclude>
        </whitelist>
    </filter>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
        <env name="DB_HOST" value="127.0.0.1"/>
        <env name="DB_DATABASE" value="rvlab2_testing"/>
        <env name="DB_USERNAME" value="rvlab2user"/>
        <env name="DB_PASSWORD" value="travoltaG78-"/>
        <env name="JOBS_PATH" value="/home/rvlab2/localtest/jobs2"/>
        <env name="REMOTE_JOBS_PATH" value="/home/rvlab/jobs2"/>
        <env name="WORKSPACE_PATH" value="/home/rvlab2/localtest/workspace2"/>
        <env name="REMOTE_WORKSPACE_PATH" value="/home/rvlab2/workspace2"/>
    </php>
</phpunit>
